#jinja2:lstrip_blocks: True
resources:
{% for svc in list_svc -%}
- "@type": type.googleapis.com/envoy.config.cluster.v3.Cluster
  name: {{ svc.cluster_name }}
  connect_timeout: 1s
  type: LOGICAL_DNS
  http2_protocol_options: {}
  load_assignment:
    cluster_name: {{ svc.cluster_name }}
    endpoints:
    - lb_endpoints:
      - endpoint:
          address:
            socket_address:
              address: {{ svc.service_name }}
              port_value: {{ svc.service_port }}
{% endfor %}